<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
</head>

<body>

    <div class="app">
        <h1>Available HTML Colors</h1>

        <h3>Current Color: {{currentcolor.toLowerCase()}}</h3>
        
        <input type="text" v-model="search">

        <br>
        
        <ul>
            <li v-for='(color,i) in filteredCss_colors' @click="updateColor(color)">{{color.toLowerCase()}}</li>
        </ul>
    </div>

    <script src="jquery.js"></script>
    <script src="vue.js"></script>
    <script src="main.js"></script>
</body>

</html>