body{
    font-family: 'Helvetica';
    width: 60vw;
    margin: auto;
}

input{
    text-align: center;
    width: calc(100% - 4px);
    height: 30px;
}

ul{
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    background: white;
}

.colorname:hover{
    cursor: pointer;
}

li{
    padding: 20px 0;
}

li:nth-of-type(2n){
    background-color: whitesmoke;
}